# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# Rider / VSCode
.idea/
.vscode/

# OS files
Thumbs.db
Desktop.ini

# Logs
*.log

# Environment variables
.env

# Docker
**/docker-data/
